/*Optional Gold color #af8e3a*/
body {
    background-image: url("../img/stage.jpg");
    background-size: 1900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1200px;
    margin: 0px auto;
}
.content {
    background-color: rgba(140, 140, 140, 0.7);
}
header {
    background-color:#801A14;
    padding-top: 1px;
    width: 1200px;
}
h1 {
    color: #B5910E;
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
}
.links img{
    height: 60px;
}
footer {
    color: #B5910E;
    background-color: #4c4c4c;
    padding: 1px;
    position: relative;
    clear: both;
}
.nav{
    text-align: center;
    width: 1200px;
    margin: 0px auto;
    clear: both;
}
.nav a{
    text-decoration: none;
    font-family: 'Zilla Slab Highlight';
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 5px;
}
    .nav a:hover{
        background-color: #af8e3a;
    }
p {
    font-family: 'Cabin';
}
ul {
    font-family: 'Cabin';
}
.signin{
    float: right;
    clear: right;
}
    .signin a{
        text-decoration: none;
        color: black;
    }
        .signin a:hover{
            color: #B5910E;
        }
    .signin img{
        width: 100px;
        float: right;
    }
.signup{
    padding: 40px;
    background-image: url("../img/blueticket.png");
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
    .signup a:link {
        color: white;
        text-decoration: none;
        font-family: 'Poiret One', cursive;
        font-size:20px;
    }
    .signup a:visited {
        color: white;
    }
    .signup a:hover {
        color: #B5910E;
    }
h2 {
    font-family: 'Fascinate', cursive;
}
.info{
    overflow: auto;
    margin: 0px auto;
}
    .tophalf{
        height: auto;
        margin: 0px auto;
    }
        .tophalf img{
            width: 400px;
            float: right;
            clear: right;
        }
    .bottomhalf{
        margin: 0px auto;
        clear: both;
    }
        .bottomhalf img{
            width: 400px;
        }